/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
/* @import url('./animations.css'); */

/* Sections style */
/* @import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css'); */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-center {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.form {
}
.form-label {
}
.form-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  padding: 0px 8px;
}
.form-input:hover {
  border: 2px solid #000;
}
.form-button:active {
  border: 2px solid #4e75ff;
}
.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-button:hover {
  background-color: #6c8cff;
}
.gallery {
  display: flex;
  flex-flow: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}
.card-container {
  max-width: 320px;
  margin-top: 32px;
}
.card {
  max-width: 360px;
  height: 248px;
  margin-bottom: 24px;
}
.card-image {
  width: 360px;
  height: 200px;
}
.card-body {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  max-width: 360px;
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 4px 24px;
}
.card-item {
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.add-posts-button {
  margin: 0 auto;

  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;

  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.add-posts-button:hover {
  background-color: #6c8cff;
}
